<% provide(:title, "Contact") %>
<h1>Contact</h1>
<h3> Connor Peshek (Admin)</h3>
<p>
  Email: Connorpeshek@gmail.com
</p>
<p>
  Twitter: https://twitter.com/ConzorKingKong
</p>
<p>
  Github: https://github.com/ConzorKingKong
</p>
<p>
CodePen: http://codepen.io/Conzorkingkong/
</p>
